@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('xdd.png');
    background-size: cover;
    background-repeat: no-repeat;
}

button{
  border: none;
  border-radius: 15%;
  width: 50px;
  height: 40px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}
#converterPage {
  font-family: 'Roboto' , sans-serif;
  padding: 0;
  background-image: url('xdd.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
  width: 1280PX;
  overflow: hidden;
  position: relative;
  top: 0; 
  display: none;
  border: none; 
}

#fromCurrency{
  width: 170px;
  height: 40px;
  border: none;
}

#toCurrency{
  width: 170px;
  height: 40px;
  border: none;
}

.converter {
  text-align: center;
  margin-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

input, select, button {
  margin-right: 10px;
}

#amount{
  border-radius: 10px; 
  padding: 15px;
  outline: none; 
  border: none; 
}

#result{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
